@charset "UTF-8";

@media screen and ( min-width: 700px ) and (max-width:1700px)
{
    div#sss01{display:block;}
    div#topo001{display: flex;}
    div#titulo01{ font-size: 75px; width: 800px;}
    div#texto01{color: aqua;}
   


} 