@charset "UTF-8";

@media screen and ( min-width: 700px ) and (max-width:1700px)
{
    div#topo001{display: flex; margin: 0px; padding: 0px ;} 
    div#titulo01{ font-size: 75px; width: 700px; margin-top: 120px; }
    #foto01{width: 650px;}
   

    #icons{
        position: fixed;
        margin-top: 60px;
        margin-left: 1150px;
        margin-right: 10px;
     
    }

    p#pp01{ font-size: 18px; line-height: 30px; margin-top: 50px;}
    menu#itens{ display: none;}

    div#texto02{ width: 300px; line-height: 18px; color: black;}
    div#foto020>img{ width: 300px; }
    div#parte1002{margin-left: 300px;}
    div#sss02{display: flex;}
  

} 